.art {
  position: relative;
  color: #fff;
  font-family: var(--overpass);
  text-align: center;

  &__img-wrapper {
    width: 375px;
    position: absolute;
    z-index: 2;
    top: -180px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__phones-img {
    width: 100%;
    transform: scale(1.05);
  }

  &__content-wrapper {
    position: relative;
    background-image: linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
    border-radius: 0px 100px;
    overflow: hidden;
    height: 625px;
    padding: 221px 24px 0 24px;

    @media only screen and (min-width: 480px) {
      height: 550px;
    }

    div {
      max-width: 430px;
      margin: 0 auto;
    }
  }

  &__pattern-img {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

    width: 600px;
    top: -220px;
  }

  &__h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    letter-spacing: -1.2px;

    margin-bottom: 10px;
    position: relative;
    z-index: 2;
  }

  &__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;

    position: relative;
    z-index: 2;
  }
}
