.footer {
  background-color: #24242c;
  text-align: center;
  border-radius: 0px 100px 0px 0px;
  padding: 75px 24px;
  font-family: var(--ubuntu);
  font-size: 18px;
  line-height: 33px;
  color: #fff;

  @media only screen and (min-width: 768px) {
    text-align: left;
    padding: 70px 24px;
    font-size: 15px;
  }

  &__container {
    max-width: 1110px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__logo {
    margin-bottom: 72px;

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  ul {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 40px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 21px;
  }

  &__link,
  &__lin:link,
  &__link:visited {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    opacity: 0.75;

    &:hover {
      text-decoration: underline;
    }
  }
}
