* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --overpass: "Overpass", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
}

.h1 {
  font-family: var(--overpass);
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  line-height: 55px;
  letter-spacing: -1.08px;
  padding: 0 10px;
}
@media only screen and (max-width: 350px) {
  .h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 64px;
    line-height: 98px;
    letter-spacing: -1.92px;
  }
}

.p {
  font-family: var(--overpass);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
@media only screen and (min-width: 768px) {
  .p {
    font-size: 20px;
    line-height: 31px;
  }
}

.btn,
.btn:link,
.btn:visited {
  font-family: var(--ubuntu);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: color 0.2s, background-color 0.2s;
}

.btn--white {
  padding: 14px 14px 14px 15px;
  color: #ff505c;
  background-color: #fff;
}
.btn--white:hover {
  background-color: #ff7b86;
  color: #ffffff;
  border: 1px solid transparent;
}
.btn--transparent {
  padding: 14px 24px 14px 25px;
  color: #fff;
}
.btn--transparent:hover {
  color: #ff7b86;
  background-color: #fff;
}

.u-margin-right-16px {
  margin-right: 16px;
}
@media only screen and (max-width: 350px) {
  .u-margin-right-16px {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

.header {
  position: fixed;
  z-index: 10;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header {
    max-width: 1110px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header__logo {
  width: 82px;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    width: 101px;
  }
}
.header__open-menu {
  display: none;
  cursor: pointer;
  padding: 7px;
}
.header__close-menu {
  display: none;
  cursor: pointer;
  padding: 3px 10px;
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .header__open-menu, .header__close-menu {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.nav {
  font-family: var(--overpass);
}
@media only screen and (max-width: 767px) {
  .nav {
    position: absolute;
    z-index: 10;
    right: 24px;
    top: 70px;
    width: 324px;
    max-height: 511px;
    overflow-y: scroll;
    padding: 24px 24px 32px 24px;
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
    border-radius: 5px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: opacity 0.2s, visibility 0.2s;
  }
}
@media only screen and (max-width: 370px) {
  .nav {
    width: 270px;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    width: 100%;
    margin-left: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .nav__bg {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
  }
}
.nav__ul {
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .nav__ul {
    display: flex;
    align-items: center;
  }
}
.nav__item__link, .nav__item__link:link, .nav__item__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .nav__item__link, .nav__item__link:link, .nav__item__link:visited {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #1f3e5a;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .nav__item__link, .nav__item__link:link, .nav__item__link:visited {
    font-family: var(--ubuntu);
    margin-right: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    opacity: 0.75;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: opacity 0.15s, border 0.15s;
  }
  .nav__item__link:hover, .nav__item__link:link:hover, .nav__item__link:visited:hover {
    opacity: 1;
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  }
}
.nav__item__link::after, .nav__item__link:link::after, .nav__item__link:visited::after {
  content: url(./../images/icon-arrow-dark.svg);
  margin-left: 8px;
  margin-bottom: 4px;
  transition: transform 0.2s;
}
@media only screen and (min-width: 768px) {
  .nav__item__link::after, .nav__item__link:link::after, .nav__item__link:visited::after {
    content: url(./../images/icon-arrow-light.svg);
  }
}
.nav__sub-nav {
  list-style: none;
  border-radius: 5px;
  background-color: rgba(45, 46, 64, 0.08);
  text-align: center;
  display: none;
  height: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: height 0.2s, visibility 0.2s, opacity 0.2s;
}
@media only screen and (min-width: 768px) {
  .nav__sub-nav {
    transition: height 0.2s, visibility 0.2s, opacity 0.2s, padding 0.2s, margin 0.2s;
  }
  .nav__sub-nav--1 {
    width: 135px;
  }
  .nav__sub-nav--2 {
    width: 105px;
  }
  .nav__sub-nav--3 {
    width: 125px;
  }
}
.nav__sub-nav__item:not(:last-child) {
  margin-bottom: 12px;
}
.nav__sub-nav__item__link, .nav__sub-nav__item__link:link, .nav__sub-nav__item__link:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgba(31, 62, 90, 0.75);
}
@media only screen and (min-width: 768px) {
  .nav__sub-nav__item__link, .nav__sub-nav__item__link:link, .nav__sub-nav__item__link:visited {
    font-weight: 400;
    font-size: 15px;
    color: #2d2e40;
    transition: font-weight 0.1s;
  }
  .nav__sub-nav__item__link:hover, .nav__sub-nav__item__link:link:hover, .nav__sub-nav__item__link:visited:hover {
    font-weight: 700;
  }
}
.nav__btns-box {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .nav__btns-box {
    border-top: 1px solid #e8e4e4;
    padding-top: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .nav__btns-box {
    display: flex;
    align-items: center;
  }
}
.nav__link, .nav__link:link, .nav__link:visited {
  display: block;
  text-decoration: none;
}
.nav__link--login, .nav__link--login:link, .nav__link--login:visited {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1f3e5a;
}
@media only screen and (min-width: 768px) {
  .nav__link--login, .nav__link--login:link, .nav__link--login:visited {
    margin-bottom: 0;
    margin-right: 32px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.75;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
  .nav__link--login:hover, .nav__link--login:link:hover, .nav__link--login:visited:hover {
    opacity: 1;
  }
}
.nav__link--sign-up, .nav__link--sign-up:link, .nav__link--sign-up:visited {
  font-family: var(--ubuntu);
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  border-radius: 50px;
  width: 137px;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  transition: background 0.2s, color 0.2s;
}
@media only screen and (min-width: 768px) {
  .nav__link--sign-up, .nav__link--sign-up:link, .nav__link--sign-up:visited {
    color: #ff505c;
    background: #fff;
  }
  .nav__link--sign-up:hover, .nav__link--sign-up:link:hover, .nav__link--sign-up:visited:hover {
    color: #fff;
    background: #ff7b86;
  }
}

@media only screen and (max-width: 767px) {
  .open-main-nav .nav {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .display-block {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .display-none {
    display: none;
  }
}

.rotate-arrow .nav__item__link::after {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .rotate-arrow .nav__item__link::after {
    margin-bottom: -4px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-open-pm .nav__sub-nav {
    padding: 17px 0 25px 0;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .nav-open-pm .nav__sub-nav {
    padding: 24px;
  }
}

.nav-open .nav__sub-nav {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .nav__sub-nav {
    position: absolute;
    top: 65px;
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
    text-align: left;
  }
  .nav__sub-nav--1 {
    left: 150px;
  }
}

.hero {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 600px;
  background-image: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  border-bottom-left-radius: 100px;
}
.hero__content {
  position: relative;
  z-index: 2;
  padding: 196px 24px 24px 24px;
}
@media only screen and (max-width: 370px) {
  .hero__content {
    padding-top: 120px;
  }
}
@media only screen and (min-width: 900px) {
  .hero__content {
    padding-top: 226px;
  }
}
.hero__content div {
  margin-top: 48px;
}
@media only screen and (max-width: 350px) {
  .hero__content div {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__content div {
    margin-top: 43px;
  }
}
.hero__img {
  width: 1200px;
  position: absolute;
  z-index: 1;
  top: -220px;
  left: 80%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 900px) {
  .hero__img {
    top: -1350px;
    width: revert;
  }
}

/*# sourceMappingURL=style.css.map */
