* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --overpass: "Overpass", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
}

.h1 {
  font-family: var(--overpass);
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  line-height: 55px;
  letter-spacing: -1.08px;
  padding: 0 10px;
}
@media only screen and (max-width: 350px) {
  .h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 64px;
    line-height: 98px;
    letter-spacing: -1.92px;
  }
}

.p {
  font-family: var(--overpass);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
@media only screen and (min-width: 768px) {
  .p {
    font-size: 20px;
    line-height: 31px;
  }
}

.btn,
.btn:link,
.btn:visited {
  font-family: var(--ubuntu);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #fff;
}

.btn--white {
  padding: 14px 14px 14px 15px;
  color: #ff505c;
  background-color: #fff;
}
.btn--transparent {
  padding: 14px 24px 14px 25px;
  color: #fff;
}

.u-margin-right-16px {
  margin-right: 16px;
}
@media only screen and (max-width: 350px) {
  .u-margin-right-16px {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

.header {
  position: fixed;
  z-index: 10;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 82px;
}
.nav {
  position: absolute;
  right: 24px;
  top: 70px;
  width: 324px;
  height: 511px;
  padding: 24px 24px 32px 24px;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  border-radius: 5px;
}
@media only screen and (max-width: 370px) {
  .nav {
    width: 270px;
  }
}
.nav__ul {
  list-style: none;
}
.nav__item__link, .nav__item__link:link, .nav__item__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-family: var(--overpass);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1f3e5a;
  text-decoration: none;
}
.nav__item__link::after, .nav__item__link:link::after, .nav__item__link:visited::after {
  content: url(./../images/icon-arrow-dark.svg);
  margin-left: 8px;
  margin-bottom: 4px;
}
.nav__sub-nav {
  list-style: none;
  margin-bottom: 24px;
  border-radius: 5px;
  background-color: rgba(45, 46, 64, 0.08);
  padding: 17px 0 25px 0;
  text-align: center;
  min-height: 0;
  transition: min-height 0.2s;
}
.nav__sub-nav__item:not(:last-child) {
  margin-bottom: 12px;
}
.nav__sub-nav__item__link, .nav__sub-nav__item__link:link, .nav__sub-nav__item__link:visited {
  text-decoration: none;
  font-family: var(--overpass);
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgba(31, 62, 90, 0.75);
}
.nav__btns-box {
  border-top: 1px solid #e8e4e4;
  text-align: center;
  padding-top: 24px;
}
.nav__link, .nav__link:link, .nav__link:visited {
  display: block;
  text-decoration: none;
}
.nav__link--login {
  margin-bottom: 24px;
}
.hero {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 600px;
  background-image: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  border-bottom-left-radius: 100px;
}
.hero__content {
  position: relative;
  z-index: 2;
  padding: 196px 24px 24px 24px;
}
@media only screen and (max-width: 370px) {
  .hero__content {
    padding-top: 120px;
  }
}
@media only screen and (min-width: 900px) {
  .hero__content {
    padding-top: 226px;
  }
}
.hero__content div {
  margin-top: 48px;
}
@media only screen and (max-width: 350px) {
  .hero__content div {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__content div {
    margin-top: 43px;
  }
}
.hero__img {
  width: 1200px;
  position: absolute;
  z-index: 1;
  top: -220px;
  left: 80%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 900px) {
  .hero__img {
    top: -1350px;
    width: revert;
  }
}

/*# sourceMappingURL=style.css.map */
